@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Gilroy-Bold' !important;
  src: 
       url('../fonts/Gilroy-Bold.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
} */
